
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.cat_name{
  font-weight: bolder;
  color:bisque;
  font-size: 23px;
  margin-top: 5%;
  margin-left: 5%;

}


.item{
  color: white;
  margin-left: 5%;
  margin-top: 3%;
  display: flex;
}

.cost{
  margin-right: 5%;
  font-weight: 400;
}

.item_name{
  flex: 1;
  color: white;
  font-size: 18px;
  font-weight: 400;
}


.item_type{
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;

}


.title{
  padding-top: 5%;
  padding-left: 5%;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  font-family:monospace;
}

.icon{
  padding-top: 5%;
  padding-left: 5%;
  height: 30px;
  
}

